backports.functools-lru-cache==1.5
beautifulsoup4==4.7.1
boto==2.49.0
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
EditorConfig==0.12.2
html5lib==1.0.1
htmlmin==0.1.12
idna==2.8
Jinja2==2.10.1
jsbeautifier==1.10.0
lxml==4.9.1
MarkupSafe==1.1.1
pbr==5.2.0
pyenchant==2.0.0
pyjslint==0.3.4
pyslack==0.3.0
pyslack-real==0.6.0
requests==2.21.0
selenium==3.141.0
six==1.12.0
slackclient==1.3.1
slugify==0.0.1
soupsieve==1.9.1
urllib3==1.24.2
w3c-validator==0.2.1
webencodings==0.5.1
websocket-client==0.54.0
